@import '../colors'

body
  background-color: #{$nord01}

  .root
    display: flex
    width: 21cm
    height: 29.7cm
    margin: auto
    margin-bottom: 3em

    background-color: #fff

    aside, main
      max-height: 100%
      overflow: auto

@media print
  body
    background-color: #{$nord04}

    .root
      margin-bottom: 0

@media screen and (width > 21cm)
  body
    padding-top: 3em


